.backup {
    /* Colors */
    --color-text: #000000;
    --color-primary: #111011;
    --color-secondary: #111011;
    --color-dark: #111011;
    --color-bg: #ffffff;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }


:root {
  /* Colours */
  --color-text: #100e0e;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #e9e5e5;

  /* Fonts */
  --font-roboto: "Roboto";
}